html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: 'Roboto', sans-serif !important;
}

.full-width {
  width: 100%;
}

.content-card .content-card-with-actions .mat-card-header-text {
  margin-left: 0;
}


/* max-width  */
@media screen and (max-width: 900px) {
	.content-card {
    width: 92% !important;
  }
}
