<mat-toolbar color="primary" class="app-header" fxLayout="row" fxLayoutAlign="center center">
  <div class="header-wrapper" fxLayout="row" fxLayoutAlign="space-between center">
    <div class="logo-header">
      <a [routerLink]="['/']" class="positronx">
        <img src="../assets/images/white-logo.png">
      </a>
    </div>

    <div *ngIf="isLoggedIn()">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/" routerLinkActive="active">
          <mat-icon>account_balance_wallet</mat-icon>
          <span>Investment Portfolio</span>
        </button>
        <button mat-menu-item routerLink="transactions/buy" routerLinkActive="active">
          <mat-icon>attach_money</mat-icon>
          <span>New Investment</span>
        </button>
        <button mat-menu-item routerLink="logout" routerLinkActive="active">
          <mat-icon>exit_to_app</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </div>

    <div *ngIf="!isLoggedIn()" class="nav-tool-items">
      <a mat-button routerLink="login" routerLinkActive="active">Log in</a>
      <a mat-button mat-raised-button routerLink="register" routerLinkActive="active">Register</a>
    </div>
  </div>
</mat-toolbar>
